In [2]:
import yfinance as yf

In [3]:
msft = yf.Ticker('MSFT')

In [4]:
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 181000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as strategic relationships with Avaya Holdings Corp. and wejo Limited. Microsoft Corporation was founded in 1975 and is based in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'Software—Infrastructure',
 'ebitdaMargins': 0.49327,
 'profitMargins': 0.37627998,
 'grossMargins': 0.6873,
 'operatingCashflow': 87115997184,
 'revenueGrowth': 0.184,
 'operatingMargins': 0.42556,
 'ebitda': 94982995968,
 'targetLowPrice': 251.76,
 'recommendationKey': 'buy',
 'grossProfits': 115856000000,
 'freeCashflow': 48917000192,
 'targetMedianPrice': 345,
 'currentPrice': 250.567,
 'earningsGrowth': 0.094,
 'currentRatio': 1.988,
 'returnOnAssets': 0.15674,
 'numberOfAnalystOpinions': 46,
 'targetMeanPrice': 346.14,
 'debtToEquity': 47.863,
 'returnOnEquity': 0.48721,
 'targetHighPrice': 425.96,
 'totalCash': 104660000768,
 'totalDebt': 77980999680,
 'totalRevenue': 192557006848,
 'totalCashPerShare': 13.994,
 'financialCurrency': 'USD',
 'revenuePerShare': 25.642,
 'quickRatio': 1.773,
 'recommendationMean': 1.7,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 9.915,
 'beta3Year': None,
 'enterpriseToEbitda': 20.1,
 '52WeekChange': -0.0967055,
 'morningStarRiskRating': None,
 'forwardEps': 10.69,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7479029760,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 21.773,
 'sharesShort': 38896339,
 'sharesPercentSharesOut': 0.0052,
 'fundFamily': None,
 'lastFiscalYearEnd': 1625011200,
 'heldPercentInstitutions': 0.71950996,
 'netIncomeToCommon': 72456003584,
 'trailingEps': 9.58,
 'lastDividendValue': 0.62,
 'SandP52WeekChange': -0.09874451,
 'priceToBook': 11.508152,
 'heldPercentInsiders': 0.00075,
 'nextFiscalYearEnd': 1688083200,
 'yield': None,
 'mostRecentQuarter': 1648684800,
 'shortRatio': 1.3,
 'sharesShortPreviousMonthDate': 1653955200,
 'floatShares': 7472077634,
 'beta': 0.932311,
 'enterpriseValue': 1909119123456,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1652832000,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.082,
 'priceToSalesTrailing12Months': 9.732173,
 'dateShortInterest': 1656547200,
 'pegRatio': 1.81,
 'ytdReturn': None,
 'forwardPE': 23.439384,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0052,
 'sharesShortPriorMonth': 46001375,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 258.83,
 'regularMarketOpen': 259.86,
 'twoHundredDayAverage': 296.20895,
 'trailingAnnualDividendYield': 0.009349767,
 'payoutRatio': 0.2463,
 'volume24Hr': None,
 'regularMarketDayHigh': 259.87,
 'navPrice': None,
 'averageDailyVolume10Day': 25411160,
 'regularMarketPreviousClose': 258.83,
 'fiftyDayAverage': 260.2866,
 'trailingAnnualDividendRate': 2.42,
 'open': 259.86,
 'toCurrency': None,
 'averageVolume10days': 25411160,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.48,
 'exDividendDate': 1660694400,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 249.9,
 'currency': 'USD',
 'trailingPE': 26.15522,
 'regularMarketVolume': 15965615,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1873998118912,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 30854719,
 'dayLow': 249.9,
 'ask': 250.16,
 'askSize': 1000,
 'volume': 15965615,
 'fiftyTwoWeekHigh': 349.67,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.25,
 'fiftyTwoWeekLow': 241.51,
 'bid': 250.16,
 'tradeable': False,
 'dividendYield': 0.0095999995,
 'bidSize': 800,
 'dayHigh': 259.87,
 'coinMarketCapLink': None,
 'regularMarketPrice': 250.567,
 'preMarketPrice': 260.25,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'trailingPegRatio': 1.77}

In [5]:
msft.info.keys()

dict_keys(['zip', 'sector', 'fullTimeEmployees', 'longBusinessSummary', 'city', 'phone', 'state', 'country', 'companyOfficers', 'website', 'maxAge', 'address1', 'industry', 'ebitdaMargins', 'profitMargins', 'grossMargins', 'operatingCashflow', 'revenueGrowth', 'operatingMargins', 'ebitda', 'targetLowPrice', 'recommendationKey', 'grossProfits', 'freeCashflow', 'targetMedianPrice', 'currentPrice', 'earningsGrowth', 'currentRatio', 'returnOnAssets', 'numberOfAnalystOpinions', 'targetMeanPrice', 'debtToEquity', 'returnOnEquity', 'targetHighPrice', 'totalCash', 'totalDebt', 'totalRevenue', 'totalCashPerShare', 'financialCurrency', 'revenuePerShare', 'quickRatio', 'recommendationMean', 'exchange', 'shortName', 'longName', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'symbol', 'messageBoardId', 'market', 'annualHoldingsTurnover', 'enterpriseToRevenue', 'beta3Year', 'enterpriseToEbitda', '52WeekChange', 'morningStarRiskRating', 'forwardEps', 'revenueQuarterlyGrowth', 'sharesOutstanding', 'fundInceptionDate', 'annualReportExpenseRatio', 'totalAssets', 'bookValue', 'sharesShort', 'sharesPercentSharesOut', 'fundFamily', 'lastFiscalYearEnd', 'heldPercentInstitutions', 'netIncomeToCommon', 'trailingEps', 'lastDividendValue', 'SandP52WeekChange', 'priceToBook', 'heldPercentInsiders', 'nextFiscalYearEnd', 'yield', 'mostRecentQuarter', 'shortRatio', 'sharesShortPreviousMonthDate', 'floatShares', 'beta', 'enterpriseValue', 'priceHint', 'threeYearAverageReturn', 'lastSplitDate', 'lastSplitFactor', 'legalType', 'lastDividendDate', 'morningStarOverallRating', 'earningsQuarterlyGrowth', 'priceToSalesTrailing12Months', 'dateShortInterest', 'pegRatio', 'ytdReturn', 'forwardPE', 'lastCapGain', 'shortPercentOfFloat', 'sharesShortPriorMonth', 'impliedSharesOutstanding', 'category', 'fiveYearAverageReturn', 'previousClose', 'regularMarketOpen', 'twoHundredDayAverage', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'regularMarketDayHigh', 'navPrice', 'averageDailyVolume10Day', 'regularMarketPreviousClose', 'fiftyDayAverage', 'trailingAnnualDividendRate', 'open', 'toCurrency', 'averageVolume10days', 'expireDate', 'algorithm', 'dividendRate', 'exDividendDate', 'circulatingSupply', 'startDate', 'regularMarketDayLow', 'currency', 'trailingPE', 'regularMarketVolume', 'lastMarket', 'maxSupply', 'openInterest', 'marketCap', 'volumeAllCurrencies', 'strikePrice', 'averageVolume', 'dayLow', 'ask', 'askSize', 'volume', 'fiftyTwoWeekHigh', 'fromCurrency', 'fiveYearAvgDividendYield', 'fiftyTwoWeekLow', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh', 'coinMarketCapLink', 'regularMarketPrice', 'preMarketPrice', 'logo_url', 'trailingPegRatio'])

In [6]:
hist = msft.history(period='max')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.055654,0.063838,0.055654,0.061109,1031788800,0.0,0.0
1986-03-14,0.061109,0.064383,0.061109,0.063292,308160000,0.0,0.0
1986-03-17,0.063292,0.064929,0.063292,0.064383,133171200,0.0,0.0
1986-03-18,0.064384,0.064929,0.062201,0.062746,67766400,0.0,0.0
1986-03-19,0.062746,0.063292,0.061109,0.061655,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2022-07-20,259.899994,264.869995,258.910004,262.269989,22788300,0.0,0.0
2022-07-21,259.790009,264.890015,257.029999,264.839996,22404700,0.0,0.0
2022-07-22,265.239990,265.329987,259.070007,260.359985,21871000,0.0,0.0
2022-07-25,261.000000,261.500000,256.809998,258.829987,21018800,0.0,0.0
2022-07-26,259.859985,259.869995,249.899994,250.554993,15966535,0.0,0.0

In [6]:
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2021-05-19       0.56           0.0
2021-08-18       0.56           0.0
2021-11-17       0.62           0.0
2022-02-16       0.62           0.0
2022-05-18       0.62           0.0

[83 rows x 2 columns]

In [7]:
msft.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2021-05-19    0.56
2021-08-18    0.56
2021-11-17    0.62
2022-02-16    0.62
2022-05-18    0.62
Name: Dividends, Length: 74, dtype: float64

In [8]:
msft.financials

,2021-06-30,2020-06-30,2019-06-30,2018-06-30
Research Development,20716000000.0,19269000000.0,16876000000.0,14726000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,71102000000.0,53036000000.0,43688000000.0,36474000000.0
Minority Interest,None,None,None,None
Net Income,61271000000.0,44281000000.0,39240000000.0,16571000000.0
Selling General Administrative,25224000000.0,24523000000.0,23098000000.0,22223000000.0
Gross Profit,115856000000.0,96937000000.0,82933000000.0,72007000000.0
Ebit,69916000000.0,53145000000.0,42959000000.0,35058000000.0
Operating Income,69916000000.0,53145000000.0,42959000000.0,35058000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2330000000.0,-2591000000.0,-2686000000.0,-2733000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,9831000000.0,8755000000.0,4448000000.0,19903000000.0
Total Revenue,168088000000.0,143015000000.0,125843000000.0,110360000000.0
Total Operating Expenses,98172000000.0,89870000000.0,82884000000.0,75302000000.0
Cost Of Revenue,52232000000.0,46078000000.0,42910000000.0,38353000000.0
Total Other Income Expense Net,1186000000.0,-109000000.0,729000000.0,1416000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,61271000000.0,44281000000.0,39240000000.0,16571000000.0
Net Income Applicable To Common Shares,61271000000.0,44281000000.0,39240000000.0,16571000000.0

In [9]:
msft.quarterly_financials

,2022-03-31,2021-12-31,2021-09-30,2021-06-30
Research Development,6306000000.0,5758000000.0,5599000000.0,5687000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,20190000000.0,22515000000.0,20524000000.0,19405000000.0
Minority Interest,None,None,None,None
Net Income,16728000000.0,18765000000.0,20505000000.0,16458000000.0
Selling General Administrative,7075000000.0,6763000000.0,5834000000.0,7379000000.0
Gross Profit,33745000000.0,34768000000.0,31671000000.0,32161000000.0
Ebit,20364000000.0,22247000000.0,20238000000.0,19095000000.0
Operating Income,20364000000.0,22247000000.0,20238000000.0,19095000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-499000000.0,-521000000.0,-535000000.0,-549000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,3462000000.0,3750000000.0,19000000.0,2947000000.0
Total Revenue,49360000000.0,51728000000.0,45317000000.0,46152000000.0
Total Operating Expenses,28996000000.0,29481000000.0,25079000000.0,27057000000.0
Cost Of Revenue,15615000000.0,16960000000.0,13646000000.0,13991000000.0
Total Other Income Expense Net,-174000000.0,268000000.0,286000000.0,310000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,16728000000.0,18765000000.0,20505000000.0,16458000000.0
Net Income Applicable To Common Shares,16728000000.0,18765000000.0,20505000000.0,16458000000.0

In [10]:
msft.major_holders

        0                                      1
0   0.08%        % of Shares Held by All Insider
1  71.96%       % of Shares Held by Institutions
2  72.01%        % of Float Held by Institutions
3    5898  Number of Institutions Holding Shares

In [11]:
msft.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",621598157,2022-03-30,0.0831,161839287051
1,Blackrock Inc.,523749870,2022-03-30,0.0700,136363508481
2,State Street Corporation,300098242,2022-03-30,0.0401,78133573891
3,"FMR, LLC",210344695,2022-03-30,0.0281,54765341708
4,Price (T.Rowe) Associates Inc,195303799,2022-03-30,0.0261,50849294246
5,"Geode Capital Management, LLC",133424701,2022-03-30,0.0178,34738453197
6,Capital World Investors,104707015,2022-03-30,0.0140,27261516891
7,Capital International Investors,86682397,2022-03-30,0.0116,22568627613
8,Capital Research Global Investors,86423951,2022-03-30,0.0116,22501338616
9,Northern Trust Corporation,86713343,2022-03-30,0.0116,22576684713

In [12]:
msft.balance_sheet

,2021-06-30,2020-06-30,2019-06-30,2018-06-30
Intangible Assets,7.800000e+09,7.038000e+09,7.750000e+09,8.053000e+09
Total Liab,1.917910e+11,1.830070e+11,1.842260e+11,1.761300e+11
Total Stockholder Equity,1.419880e+11,1.183040e+11,1.023300e+11,8.271800e+10
Other Current Liab,5.261200e+10,4.600100e+10,4.586000e+10,3.819500e+10
Total Assets,3.337790e+11,3.013110e+11,2.865560e+11,2.588480e+11
Common Stock,8.311100e+10,8.055200e+10,7.852000e+10,7.122300e+10
Other Current Assets,1.347100e+10,1.151700e+10,1.013300e+10,6.855000e+09
Retained Earnings,5.705500e+10,3.456600e+10,2.415000e+10,1.368200e+10
Other Liab,3.168100e+10,3.449200e+10,3.569900e+10,3.570700e+10
Good Will,4.971100e+10,4.335100e+10,4.202600e+10,3.568300e+10
Treasury Stock,1.822000e+09,3.186000e+09,-3.400000e+08,-2.187000e+09
Other Assets,1.507500e+10,1.313800e+10,1.472300e+10,7.442000e+09
Cash,1.422400e+10,1.357600e+10,1.135600e+10,1.194600e+10
Total Current Liabilities,8.865700e+10,7.231000e+10,6.942000e+10,5.848800e+10
Deferred Long Term Asset Charges,7.181000e+09,6.405000e+09,7.536000e+09,1.369000e+09
Short Long Term Debt,8.072000e+09,3.749000e+09,5.516000e+09,3.998000e+09
Other Stockholder Equity,1.822000e+09,3.186000e+09,-3.400000e+08,-2.187000e+09
Property Plant Equipment,7.080300e+10,5.290400e+10,4.385600e+10,3.614600e+10
Total Current Assets,1.844060e+11,1.819150e+11,1.755520e+11,1.696620e+11
Long Term Investments,5.984000e+09,2.965000e+09,2.649000e+09,1.862000e+09
Net Tangible Assets,8.447700e+10,6.791500e+10,5.255400e+10,3.898200e+10
Short Term Investments,1.160320e+11,1.229160e+11,1.224760e+11,1.217180e+11
Net Receivables,3.804300e+10,3.201100e+10,2.952400e+10,2.648100e+10
Long Term Debt,5.007400e+10,5.957800e+10,6.666200e+10,7.224200e+10
Inventory,2.636000e+09,1.895000e+09,2.063000e+09,2.662000e+09
Accounts Payable,1.516300e+10,1.253000e+10,9.382000e+09,8.617000e+09

In [13]:
msft.quarterly_balance_sheet

,2022-03-31,2021-12-31,2021-09-30,2021-06-30
Intangible Assets,1.134800e+10,7.462000e+09,7.794000e+09,7.800000e+09
Total Liab,1.816830e+11,1.803790e+11,1.834400e+11,1.917910e+11
Total Stockholder Equity,1.629240e+11,1.600100e+11,1.519780e+11,1.419880e+11
Other Current Liab,4.739100e+10,4.634600e+10,5.262200e+10,5.261200e+10
Total Assets,3.446070e+11,3.403890e+11,3.354180e+11,3.337790e+11
Common Stock,8.576700e+10,8.452800e+10,8.375100e+10,8.311100e+10
Other Current Assets,1.335300e+10,1.230100e+10,1.298200e+10,1.347100e+10
Retained Earnings,7.963300e+10,7.504500e+10,6.694400e+10,5.705500e+10
Other Liab,3.115900e+10,3.058400e+10,3.015700e+10,3.168100e+10
Good Will,6.737100e+10,5.092100e+10,5.045500e+10,4.971100e+10
Treasury Stock,-2.476000e+09,4.370000e+08,1.283000e+09,1.822000e+09
Other Assets,2.184500e+10,2.125600e+10,2.110300e+10,1.507500e+10
Cash,1.249800e+10,2.060400e+10,1.916500e+10,1.422400e+10
Total Current Liabilities,7.743900e+10,7.751000e+10,8.052800e+10,8.865700e+10
Short Long Term Debt,1.749000e+09,4.998000e+09,3.249000e+09,8.072000e+09
Other Stockholder Equity,-2.476000e+09,4.370000e+08,1.283000e+09,1.822000e+09
Property Plant Equipment,8.321400e+10,7.956800e+10,7.534700e+10,7.080300e+10
Total Current Assets,1.539220e+11,1.741880e+11,1.743260e+11,1.844060e+11
Long Term Investments,6.907000e+09,6.994000e+09,6.393000e+09,5.984000e+09
Net Tangible Assets,8.420500e+10,1.016270e+11,9.372900e+10,8.447700e+10
Short Term Investments,9.216200e+10,1.047440e+11,1.114190e+11,1.160320e+11
Net Receivables,3.261300e+10,3.352000e+10,2.734900e+10,3.804300e+10
Long Term Debt,4.817700e+10,4.826000e+10,5.003900e+10,5.007400e+10
Inventory,3.296000e+09,3.019000e+09,3.411000e+09,2.636000e+09
Accounts Payable,1.608500e+10,1.531400e+10,1.483200e+10,1.516300e+10
Deferred Long Term Asset Charges,NaN,NaN,NaN,7.181000e+09

In [14]:
msft.cashflow

,2021-06-30,2020-06-30,2019-06-30,2018-06-30
Investments,2.876000e+09,6.980000e+09,5.400000e+08,6.557000e+09
Change To Liabilities,7.431000e+09,5.230000e+09,4.694000e+09,7.070000e+09
Total Cashflows From Investing Activities,-2.757700e+10,-1.222300e+10,-1.577300e+10,-6.061000e+09
Net Borrowings,-3.750000e+09,-5.518000e+09,-4.000000e+09,-1.020100e+10
Total Cash From Financing Activities,-4.848600e+10,-4.603100e+10,-3.688700e+10,-3.359000e+10
Change To Operating Activities,1.160000e+09,-6.730000e+08,-1.542000e+09,-4.590000e+08
Issuance Of Stock,1.693000e+09,1.343000e+09,1.142000e+09,1.002000e+09
Net Income,6.127100e+10,4.428100e+10,3.924000e+10,1.657100e+10
Change In Cash,6.480000e+08,2.220000e+09,-5.900000e+08,4.283000e+09
Repurchase Of Stock,-2.738500e+10,-2.296800e+10,-1.954300e+10,-1.072100e+10
Effect Of Exchange Rate,-2.900000e+07,-2.010000e+08,-1.150000e+08,5.000000e+07
Total Cash From Operating Activities,7.674000e+10,6.067500e+10,5.218500e+10,4.388400e+10
Depreciation,1.090000e+10,1.230000e+10,1.160000e+10,9.900000e+09
Other Cashflows From Investing Activities,-9.220000e+08,-1.241000e+09,-1.241000e+09,-9.800000e+07
Dividends Paid,-1.652100e+10,-1.513700e+10,-1.381100e+10,-1.269900e+10
Change To Inventory,-7.370000e+08,1.680000e+08,5.970000e+08,-4.650000e+08
Change To Account Receivables,-6.481000e+09,-2.577000e+09,-2.812000e+09,-3.862000e+09
Other Cashflows From Financing Activities,-2.523000e+09,-3.751000e+09,-6.750000e+08,-9.710000e+08
Change To Netincome,5.505000e+09,5.577000e+09,-2.521000e+09,-3.054000e+09
Capital Expenditures,-2.062200e+10,-1.544100e+10,-1.392500e+10,-1.163200e+10

In [15]:
msft.quarterly_cashflow

,2022-03-31,2021-12-31,2021-09-30,2021-06-30
Investments,9.069000e+09,5.643000e+09,4.183000e+09,-4.334000e+09
Change To Liabilities,3.110000e+08,-4.108000e+09,-3.356000e+09,1.301400e+10
Total Cashflows From Investing Activities,-1.617100e+10,-1.161000e+09,-3.250000e+09,-1.085300e+10
Net Borrowings,-4.197000e+09,-4.197000e+09,-4.826000e+09,-4.826000e+09
Total Cash From Financing Activities,-1.734500e+10,-1.198600e+10,-1.627600e+10,-1.137100e+10
Change To Operating Activities,1.092000e+09,1.760000e+09,-3.551000e+09,7.990000e+08
Issuance Of Stock,4.770000e+08,2.910000e+08,6.120000e+08,4.500000e+08
Net Income,1.672800e+10,1.876500e+10,2.050500e+10,1.645800e+10
Change In Cash,-8.106000e+09,1.439000e+09,4.941000e+09,5.220000e+08
Repurchase Of Stock,-8.822000e+09,-7.433000e+09,-7.684000e+09,-7.177000e+09
Effect Of Exchange Rate,2.400000e+07,1.060000e+08,-7.300000e+07,3.600000e+07
Total Cash From Operating Activities,2.538600e+10,1.448000e+10,2.454000e+10,2.271000e+10
Depreciation,3.773000e+09,3.496000e+09,3.212000e+09,2.558000e+09
Other Cashflows From Investing Activities,-1.181000e+09,-8.900000e+07,-4.170000e+08,4.340000e+08
Dividends Paid,-4.645000e+09,-4.652000e+09,-4.206000e+09,-4.214000e+09
Change To Inventory,-2.790000e+08,3.940000e+08,-7.770000e+08,-3.880000e+08
Change To Account Receivables,8.570000e+08,-5.543000e+09,1.048600e+10,-1.160600e+10
Other Cashflows From Financing Activities,-1.580000e+08,-1.920000e+08,-1.720000e+08,-4.300000e+08
Change To Netincome,1.813000e+09,1.773000e+09,-4.632000e+09,1.907000e+09
Capital Expenditures,-5.340000e+09,-5.865000e+09,-5.810000e+09,-6.452000e+09

In [16]:
msft.earnings

           Revenue     Earnings
Year
2018  110360000000  16571000000
2019  125843000000  39240000000
2020  143015000000  44281000000
2021  168088000000  61271000000

In [17]:
msft.quarterly_earnings

             Revenue     Earnings
Quarter
2Q2021   46152000000  16458000000
3Q2021   45317000000  20505000000
4Q2021   51728000000  18765000000
1Q2022   49360000000  16728000000

In [18]:
msft.sustainability

                                     Value
2022-5
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           8.06
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              106
governanceScore                       5.23
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             13.75
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                             7.4
peerGroup              Software & Services
smallArms                            False
environmentScore                      0.46
governancePercentile                  None
militaryContract                     False

In [19]:
msft.recommendations

                               Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00  Argus Research            Buy                up
2012-03-19 14:00:00  Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00  Morgan Stanley     Overweight              main
2012-04-03 11:53:00             UBS            Buy              main
2012-04-20 06:18:00   Deutsche Bank            Buy              main
...                             ...            ...        ...    ...
2022-07-12 12:56:50  Morgan Stanley     Overweight              main
2022-07-15 14:57:56     BMO Capital     Outperform              main
2022-07-19 11:39:09       Citigroup            Buy              main
2022-07-19 13:57:00          Mizuho            Buy              main
2022-07-22 13:26:33     Cowen & Co.     Outperform              main

[383 rows x 4 columns]

In [20]:
msft.calendar

                                Value
Earnings Date     2022-07-26 20:00:00
Earnings Average                  2.3
Earnings Low                     2.25
Earnings High                    2.35
Revenue Average           52474100000
Revenue Low               51823800000
Revenue High              53001000000

In [21]:
msft.earnings_dates

AttributeError: 'Ticker' object has no attribute 'earnings_dates'

In [22]:
msft.isin

'-'

In [23]:
msft.options

('2022-07-29',
 '2022-08-05',
 '2022-08-12',
 '2022-08-19',
 '2022-08-26',
 '2022-09-02',
 '2022-09-16',
 '2022-10-21',
 '2022-11-18',
 '2022-12-16',
 '2023-01-20',
 '2023-02-17',
 '2023-03-17',
 '2023-06-16',
 '2023-09-15',
 '2024-01-19',
 '2024-06-21')

In [24]:
msft.news

[{'uuid': '3e1be26b-5235-38c0-9c22-84547ae5f971',
  'title': 'Dow Jones Futures: Apple Leads Earnings Wave, Fed Rate Hike Looms; What To Do Now',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/3e1be26b-5235-38c0-9c22-84547ae5f971/dow-jones-futures%3A-apple.html',
  'providerPublishTime': 1658529705,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/.KY51zq22_qU98yLwUAo_g--~B/aD01NzI7dz0xMDEyO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/k8gLMwvxwVIDBNWg_Azf2Q--~B/aD01NzI7dz0xMDEyO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/ec8365e261a0dfa9375d79fafac86ffa',
     'width': 1012,
     'height': 572,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/SjlUigfqdlTJJ_NzKoNzvA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/k8gLMwvxwVIDBNWg_Azf2Q--~B/aD01NzI7dz0xMDEyO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/ec8365e261a0dfa9375d79fafac86ffa',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['^GSPC',
   '^DJI',
   'LI',
   'AAPL',
   'GOOGL',
   'COMP',
   'DLTR',
   'MSFT']},
 {'uuid': '1c12f0d5-6242-3d87-b27e-9e6e0fe6b26d',
  'title': 'Not All Tech CEOs Are Created Equal. Here Are Some of the Best.',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/1c12f0d5-6242-3d87-b27e-9e6e0fe6b26d/not-all-tech-ceos-are-created.html',
  'providerPublishTime': 1658529060,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/49n7Vr_qjV8lGvAQSAxTRw--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/Ee0JxQlLE9pA4Mwxr50sxA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/37b9393ae7953d7ea3e06ffa036706e7',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/UEIowj.PotLx1F5.5zt._A--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/Ee0JxQlLE9pA4Mwxr50sxA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/37b9393ae7953d7ea3e06ffa036706e7',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['SHOP', 'U', 'AAPL', 'INTC', 'MSFT']},
 {'uuid': 'e82300d9-346e-3f35-ac82-65fb6c19ade8',
  'title': 'Weekly Roundup',
  'publisher': 'TheStreet.com',
  'link': 'https://finance.yahoo.com/m/e82300d9-346e-3f35-ac82-65fb6c19ade8/weekly-roundup.html',
  'providerPublishTime': 1658527680,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/tfNk.YVijUMdToJ5Uy9SLQ--~B/aD04MDA7dz0xMjAwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/z4mm6OQMIHetZYUi6ttxUg--~B/aD04MDA7dz0xMjAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/thestreet.com/bb0ea8f582752df1ff11c714db269c93',
     'width': 1200,
     'height': 800,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/I950qi.WStWQXU_xRqd01w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/z4mm6OQMIHetZYUi6ttxUg--~B/aD04MDA7dz0xMjAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/thestreet.com/bb0ea8f582752df1ff11c714db269c93',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['VZ',
   'NVDA',
   'GOOGL',
   '^GSPC',
   'AMD',
   'NUE',
   'AAPL',
   'MSFT']},
 {'uuid': '530d596d-c6dd-3af3-9ff1-f3da096184ac',
  'title': "Caveday virtual spaces guide workers to boost 'monotasking,' co-founder says",
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/caveday-virtual-spaces-guide-workers-204034521.html',
  'providerPublishTime': 1658522434,
  'type': 'VIDEO',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/heOyEHIE1LiVuuGSZoVW1A--~B/aD0yODc7dz01MDk7YXBwaWQ9eXRhY2h5b24-/https://s.yimg.com/os/creatr-uploaded-images/2022-07/629e5440-09fe-11ed-a7fa-2f221208abd6',
     'width': 509,
     'height': 287,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/ls2VvUBj78jedpfV6QGW_g--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2022-07/629e5440-09fe-11ed-a7fa-2f221208abd6',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'GOOG', 'GOOGL', 'ZM', 'CRM']},
 {'uuid': '01828bc5-4488-3e62-b1de-34ea55255271',
  'title': 'Progressive Caucus Asks Schumer to Set Vote on Antitrust Bills',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/progressive-caucus-asks-schumer-set-202901686.html',
  'providerPublishTime': 1658521741,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/iMchpH5r9ImkyBMObBhCiA--~B/aD0xMzMzO3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/uu/api/res/1.2/FqfQYsnbP4lLnyw5GGdZ0Q--~B/aD0xMzMzO3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/bloomberg_politics_602/66d9a1891b223630373beafb80e33f32',
     'width': 2000,
     'height': 1333,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/S2KdxGa.PW0_U0ygrLFrBg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/FqfQYsnbP4lLnyw5GGdZ0Q--~B/aD0xMzMzO3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/bloomberg_politics_602/66d9a1891b223630373beafb80e33f32',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['GOOG', 'GOOGL', 'MSFT', 'META', 'AAPL', 'AMZN']},
 {'uuid': '946dc764-4a7c-3e6b-a7e0-e031ac765f93',
  'title': "Inflation: The Fed 'doesn't have the guts' to raise interest rates by 6 to 7%, strategist says",
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/inflation-fed-doesnt-guts-raise-194331344.html',
  'providerPublishTime': 1658519011,
  'type': 'VIDEO',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/NQgKSrW._HaplZVPywkCDw--~B/aD03MjA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2022-07/47063f70-09f6-11ed-925f-eabaacc63c8b',
     'width': 1280,
     'height': 720,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/_TGJtIXC6wytMVjpbchqzA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2022-07/47063f70-09f6-11ed-925f-eabaacc63c8b',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['META',
   'GOOG',
   'GOOGL',
   'AMZN',
   'MSFT',
   '^DJI',
   '^GSPC',
   '^IXIC',
   'AAPL']},
 {'uuid': '4ad2b6f5-6710-321e-8e41-5e922bbbad78',
  'title': "Tech stocks: Where to find 'safety,' according to one analyst",
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/tech-stocks-where-safety-according-193943408.html',
  'providerPublishTime': 1658518783,
  'type': 'VIDEO',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Ha3GQeh56TDCqKqZGLM.TA--~B/aD03MjA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2022-07/028b93e0-09f6-11ed-b8a9-123751ec79b7',
     'width': 1280,
     'height': 720,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/76EkPcvTT48ze3qXkyMbXA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2022-07/028b93e0-09f6-11ed-b8a9-123751ec79b7',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AMZN',
   'GOOG',
   'GOOGL',
   'XLK',
   'MSFT',
   'AAPL',
   'TWTR',
   'META']},
 {'uuid': '7174e373-c466-3f6d-ad8b-ae1fd92c3ac9',
  'title': 'Previewing Big Tech Earnings Ahead of a Huge Week for Wall Street',
  'publisher': 'Zacks',
  'link': 'https://finance.yahoo.com/news/previewing-big-tech-earnings-ahead-193807446.html',
  'providerPublishTime': 1658518687,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/u4KUASx2vCWA4TjL.WFlow--~B/aD0zNDk7dz02MjA7YXBwaWQ9eXRhY2h5b24-/https://s.yimg.com/uu/api/res/1.2/9luckxOk8kuyxVFOBDXD7g--~B/aD0zNDk7dz02MjA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/zacks.com/80c3b0044109952d2ccd07e54852806c',
     'width': 620,
     'height': 349,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/3nUwYmx6gxTutlJ010VRGQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/9luckxOk8kuyxVFOBDXD7g--~B/aD0zNDk7dz02MjA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/zacks.com/80c3b0044109952d2ccd07e54852806c',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['GOOGL', '^GSPC', 'MSFT', 'AMZN']}]

In [25]:
opt = msft.option_chain('YYYY-MM-DD')

ValueError: Expiration `YYYY-MM-DD` cannot be found. Available expiration are: [2022-07-29, 2022-08-05, 2022-08-12, 2022-08-19, 2022-08-26, 2022-09-02, 2022-09-16, 2022-10-21, 2022-11-18, 2022-12-16, 2023-01-20, 2023-02-17, 2023-03-17, 2023-06-16, 2023-09-15, 2024-01-19, 2024-06-21]